@charset "utf-8";
/* CSS Document */

.color_bg {
	background-image:url(../../imagenes/background/material-design.jpg);
}

.contenedor {
	margin:auto;
	width: 1080px;
	height: 1006px;
	/*background-color:#CC0;*/
	margin-bottom: 0px;
}

.header_logo {
	width: 1035px;
	height: 101px;
	padding-left: 8px;
	margin-bottom: 0px;
}

.header_botones {
	width: 654px;
	height: 56px;
	margin: 0px auto 0px auto;
	background-color:#333333;
	padding-top: 23px;

}
/***********************************/
#fondo-botones {
	background-color:#333333;	
	width: 692px;
	height:50px;
	margin: 0px auto 0px auto;
	padding: 23px 0px 0px 0px;
	font-size:17px;
	font-weight:bold;
}
/**********************BOTONES y SUBMENUS******************************/


ul {
	/*padding: 0px 0px 0px 100px;**/
	list-style-type:none;		
}
.nav > li {	
	float:left;
}
.nav li a {	
	color: rgba(240, 255, 13, 0.9);
	text-decoration:none;
	padding: 13px 21px 17px 17px;
	display:block;
	background-color:rgba(35, 36, 31, 0.78); 	
}
.nav li a:hover {
	background-color: rgba(0, 102, 153, 0.8);
	
}
.nav li ul {
	display: none;
	position:absolute;
	min-width: 140px;
}
.nav li:hover > ul {
	display:block;
}
.nav li ul li {
	position:relative;
}
.nav li ul li ul {
	right: -140px;
	top: 0px;
}
/***************************************/
h2 {
	font-family: "Times New Roman";
	color: #999933;
	text-align:center;
	text-decoration:underline;
}
h3 {
	font-family: "Times New Roman";
	color: #999933;
	/*padding-left: 88px;*/
	text-align:center;
	margin: 0px 0px 0px 0px;
	height: 8px;

}

.aliniciontxt {
	font-family: "Times New Roman";
	color: #999933;
	/*padding-left: 176px;*/
	text-align:	center;
	margin: 0px 0px 0px 0px;
	font-size:20px;
}
b {
	color:#277AA0;
}
.aliniaciontxt2 {
	font-family: "Times New Roman";
	color: #999933;
	padding-left: 176px;
	text-align:center;
}

.triangulo_titulo {
	margin: 0px auto 0px auto;
	width: 693px;
	height: 45px;
	background-color: rgba(0,102,153,0.8);
	border-radius: 10px;
}
.triangulo_titulo p {
	font-family: "Times New Roman";
	font-size: 14px;
	font-weight:bold;
	color:#FFF;
	text-align:center;
}

.triangulo_titulo a {
	color:#FFF;
	text-decoration:none;
}

.triangulo_titulo a:hover {
	color:#CC0;
	text-decoration:none;
}	
/*.triangulo_titulo img {
	margin: 0px 0px 0px 72px;
}*/

.triangulo_titulo2 {
	margin: 42px auto 0px auto;
	width: 693px;
	height: 45px;
	background-color: rgba(0,102,153,0.8);
	border-radius: 10px;
}
.triangulo_titulo2 p {
	font-family: "Times New Roman";
	font-size: 14px;
	font-weight:bold;
	color:#FFF;
	text-align:center;
}

.triangulo_titulo2 a {
	color:#FFF;
	text-decoration:none;
}

.triangulo_titulo2 a:hover {
	color:#CC0;
	text-decoration:none;
}	
.triangulo_titulo3 {
	margin: 42px auto 0px auto;
	width: 693px;
	height: 45px;
	background-color: rgba(0,102,153,0.8);
	border-radius: 10px;
}
.triangulo_titulo3 p {
	font-family: "Times New Roman";
	font-size: 14px;
	font-weight:bold;
	color:#FFF;
	text-align:center;
}

.triangulo_titulo3 a {
	color:#FFF;
	text-decoration:none;
}

.triangulo_titulo3 a:hover {
	color:#CC0;
	text-decoration:none;
}	
/**************************************BocinasAmploficada*******************************/
.triangulo_titulo4 {
	margin: 42px auto 0px auto;
	width: 693px;
	height: 45px;
	background-color:rgba(0,102,153,0.8);
	border-radius: 10px;
}

.triangulo_titulo4 p {
	font-family: "Times New Roman";
	font-size: 14px;
	font-weight:bold;
	color:#FFF;
	text-align:center;
}

.triangulo_titulo4 a {
	color:#FFF;
	text-decoration:none;
}

.triangulo_titulo4 a:hover {
	color:#CC0;
	text-decoration:none;
}

.row4 {
	
	width: 200px;
	height: 120px;
	border-style:ridge;
	border-color:#fff;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 10px;
	border-radius: 5px;	
}
.row4img {
	width:190px;
	height:110px;
	border-image:3px;
	border-style:solid;
	border-color:#999933;
	border-radius: 5px;	
}
.row4 a:hover img {
	border-color:#06F;
}
/**************************************BocinasAmploficada*******************************/
.lin1_imgs {
	margin: 0px auto 0px auto;
	width: 693px;
	height: 87px;
	border-bottom-width: 5px;
	border-bottom-style: ridge;
	border-bottom-color: white;
	
}

.lin1_imgs img {
	margin-left:40px;
	border-left-width: 2px;
	border-left-style: solid;
	border-top-width: 2px;
	border-top-style: solid;
	border-right-width: 2px;
	border-right-style: solid;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-radius: 5px;
	width: 169px;
	height: 83px;
	border-color: #999933;
	
}

.lin1_imgs a:hover img {
	border-color:#06F;
}
.body {
	width: 1035px;
	height: 915px;
	margin: -17px auto 10px auto;
	background-color:#333333;
	box-shadow: 1px 4px 26px 1px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;

}
.conte2 {
	width: 694px;
	height:705px;
	background-color:#C1CCBC;
	margin: 0px auto 0px auto;
	border-radius: 10px;
}
.conte2 a:hover img {
	border-color: #06F;
}

.footer {
	margin: 0px auto 3px auto;
	width: 1035px;
	height: 111px;
	background-color: #333333;
	border-radius: 20px;
}

/**********Botones y aliniamiento footer***********/

.footer-menu {
	width: 600;
	height: 62;
	margin-left: 328px;
	padding-top: 22px;
}
.ul-footer {
	padding-left: 0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
	
	
}
.li-footer {
	float:left;	
	
}
.li-separadores-footer{
	margin-left: 12px;
	margin-right: 12px;
	float:left;
}
.a-footer {	
	color:#FFF;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	
}

.a-footer:hover {
	
	color:#cccc33;
}
.p-footer {
	font-size:8pt;
	margin-left: 45px;
	color:#FFF;
	text-align:left;
	margin-top: 6px;

}
